<form action="MAILTO:tysonvanburen444@gmail.com" method="post" enctype="text/plain" class="application">
  <h3 class="pi">Personal Information</h3>
    <input type="text" class="form-control" name="First Name    " placeholder="First Name">
    <input type="text" class="form-control" name="Last Name    " placeholder="Last Name">
    <input type="email" class="form-control" name="Email    " placeholder="Email">
    <input type="phone" class="form-control" name="Phone    " placeholder="Phone">
    <input type="text" class="form-control" name="Age    " placeholder="Age">

  <h3>Educational Background</h3>
    <input type="text" class="form-control" name="School Name    " placeholder="School Name">
    <input type="text" class="form-control" name="Major    " placeholder="Major">
    <input type="text" class="form-control" name="Degree    " placeholder="Degree"
    <input type="text" class="form-control" name="GPA    " placeholder="GPA">

    <h3>Employment History</h3>
      <input type="text" class="form-control" name="Employer Name    " placeholder="Employer Name">
      <input type="text" class="form-control" name="Job Title    " placeholder="Job Title">
      <input type="text" class="form-control" name="Start Date    " placeholder="Start Date exp: 0/00/00">
      <input type="text" class="form-control" name="End Date    " placeholder="End Date exp: 0/00/00"></br>

      <input type="text" class="form-control" name="Employer Name    " placeholder="Employer Name">
      <input type="text" class="form-control" name="Job Title    " placeholder="Job Title">
      <input type="text" class="form-control" name="Start Date    " placeholder="Start Date exp: 0/00/00">
      <input type="text" class="form-control" name="End Date    " placeholder="End Date esp: 0/00/00">

      <input type="submit" value="Send" class="btn btn-success">
      <a class="btn btn-info" href="http://localhost:3000/static/test">Take Test</a> 
      <input type="reset" value="Reset" class="btn btn-warning">

</form>
