<div class="home">
  <div class="row">
    <div class="col-md-12">
      <h1 class="first_intro">Precision Air Managment</h2><p class="home">is a company that was developed to ensure the quality of HVAC-R and Controls installation in commercial and residential applications. Some features that make your choice an easy one include:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul class="offers">
        <li>Residential and Commercial</li>
        <li>Plumbing Contractor</li>
        <li>FREE In Home Estimates</li>
        <li>Custom Design Sheet Metal</li>
        <li>24-Hour Emergency Repair</li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="offers">
        <li>Same Day Service</li>
        <li>Service All Makes and Models</li>
        <li>Control Systems</li>
        <li>Energy Management</li>
        <li>Take our Home Comfort Survey</li>
      </ul>
    </div>
  </div>

  <ul class="morals">
    <li><h1 class="intro">Our Mission</h3><p class="home"> is to provide Contractors, builders, and owners with the piece of mind of knowing that the system in their structure was designed and installed properly to maximize Efficiency and Comfort.</p></li>
    <li><h1 class="intro">Our Design</h3><p class="home">All our design build is based on ACCA (Air Conditioning Contractors of America) standards, which is also approved by ANSI (American National Standard Institute).</p></li>
    <li><h1 class="intro">Benefites</h3><p class="home">By including this option in the design of your building you have the advantage and the luxury of knowing that your system was designed and installed correctly. We offer services in all areas of HVAC-R, building controls, start- up/commissioning, service/maintenance, hydronics, and Variable Refrigerant Systems (VRF).  We work on all makes and models of equipment.</p></li>
  </ul>
</div>
