    <div class="test">
      <h1>Applicaiton Test</h1>
      <p class="quiz_p">
        Check your answer for each multiple-choice question, then click on the
        &quot;Submit&quot; button to submit your application.
      </p>
      <form action="MAILTO:tysonvanburen444@gmail.com" method="post" enctype="text/plain" class="application">

      <h4 class="test">1. To keep your house warm, what is the most efficient size of furnace to heat your home?:</h4>
        <p><input type="radio" name="1. to keep your house warm, what is the most effcient size of furnace to heat your home?" value="80,000BTU/hr" />80,000BTU/hr. </p>
        <p><input type="radio" name="1.to keep your house warm, what is the most effcient size of furnace to heat your home?" value="One that comes on 10 minutes every hour on the coldest day of the year" />One that comes on 10 minutes every hour on the coldest day of the year </p>
        <p><input type="radio" name="1.to keep your house warm, what is the most effcient size of furnace to heat your home?" value="one that comes on all day on the coldest day of the year" />one that comes on all day on the coldest day of the year </p>
        <p><input type="radio" name="1.to keep your house warm, what is the most effcient size of furnace to heat your home?" value="bigger the better" />bigger the better </p>

      <h4 class="test">2. Which choice does not require a vent to remove the products of combusting:</h4>
        <p><input type="radio" name="2. Which choice does not require a vent to remove the products of combusting" value="Forced warm air furnaces with ductwork" />Forced warm air furnaces with duct work </p>
        <p><input type="radio" name="2. Which choice does not require a vent to remove the products of combusting" value="Space heating(baseboard or radiators)" />Space heating(baseboard or radiators) </p>
        <p><input type="radio" name="2. Which choice does not require a vent to remove the products of combusting" value="Heat Pumps" />Heat Pumps </p>
        <p><input type="radio" name="2. The word which means fish is" value="All of the above" />All of the above </p>

      <h4 class="test">3. A split system means?&quot; is:</h4>
        <p><input type="radio" name="3. A split system means" value="The system is cracked" />The system is cracked</p>
        <p><input type="radio" name="3. A split system means" value="Condenser,fan,and/or coil can be separated and connected with tubing" />Condenser,fan, and/or coil can be separated and connected with tubing</p>
        <p><input type="radio" name="3. A split system means" value="The heat exchangers are split, and must be replaced " />The heat exchangers are split, and must be replaced</p>
        <p><input type="radio" name="3. A split system means" value="A system that provides heating and cooling using water" />A system that provides heating and cooling using water</p>

      <h4 class="test">4. A cracked heat exchanger on a furnace causes the:</h4>
        <p><input type="radio" name="4. A cracked heat exchanger on a furnace causes the" value="Flame to burn poorly" />Flame to burn poorly</p>
        <p><input type="radio" name="4. A cracked heat exchanger on a furnace causes the" value="Flame to produce soot" />Flame to produce soot</p>
        <p><input type="radio" name="4. A cracked heat exchanger on a furnace causes the" value="Flame to produce Carbon Monoxide" />Flame to produce Carbon Monoxide</p>
        <p><input type="radio" name="4. A cracked heat exchanger on a furnace causes the" value="All of the above" />All of the above</p>

      <h4 class="test">5. Air Conditioners and Heat Pumps:</h4>
        <p><input type="radio" name="5. Air Conditioners and Heat Pumps" value="Bringing cooler air into the house" />Bringing cooler air into the house</p>
        <p><input type="radio" name="5. Air Conditioners and Heat Pumps" value="Extracting heat form within your house" />Extracting heat from within your house</p>
        <p><input type="radio" name="5. Air Conditioners and Heat Pumps" value="By using a chemical reaction with refrigerent" />By using a chemical reaction with refrigerent</p>
        <p><input type="radio" name="5. Air Conditioners and Heat Pumps" value="None of the Above" />None of the above</p>

      <h4 class="test">6. A BTU is calculated by:</h4>
        <p><input type="radio" name="6. A BTU is calculated by?" value="raising/lowering 1 pound of water 1 degree Fahrenheit" />raising/lowering 1 pound of water 1 degree Fahrenheit</p>
        <p><input type="radio" name="6. A BTU is calculated by?" value="raising/lowering 1 litre of water 1 degree Celsius" />raising/lowering 1 litre of water 1 degree Celsius</p>
        <p><input type="radio" name="6. A BTU is calculated by?" value="both equal the same" />both equal the same</p>

      <h4 class="test">7. Wet bulb temperature during sensible heating of air:</h4>
        <p><input type="radio" name="3. The word which means suitcase is" value="renard" />remains constant</p>
        <p><input type="radio" name="3. The word which means suitcase is" value="valise" />increases</p>
        <p><input type="radio" name="3. The word which means suitcase is" value="soleil" />decreases</p>

      <h4 class="test">8. :Which of the following statements is wrong:</h4>
        <p><input type="radio" name="3. Which of the following statements is wrong" value="renard" />the heat transfer in liquid and gases takes place according to convection.</p>
        <p><input type="radio" name="3. Which of the following statements is worng" value="valise" />the amount of heat flow through a body is dependent upon the material of the body.</p>
        <p><input type="radio" name="3. Which of the following statements is worng" value="soleil" />the thermal conductivity of solid metals increases with rise in temperature.</p>
        <p><input type="radio" name="3. Which of the following statements is worng" value="poisson" /> logarithmic mean temperature difference is not equal to the arithmitic mean temperature difference</p>

      <h4 class="test">9. The highest thermal diffusity is of:</h4>
        <p><input type="radio" name="3. The word which means suitcase is" value="renard" />iron</p>
        <p><input type="radio" name="3. The word which means suitcase is" value="valise" />lead</p>
        <p><input type="radio" name="3. The word which means suitcase is" value="soleil" />concrete</p>
        <p><input type="radio" name="3. The word which means suitcase is" value="poisson" />wood</p>

      <h4 class="test">10. Water, alcohol and ammonia have same refrigerating effect at different altitudes:</h4>
        <p><input type="radio" name="3. The word which means suitcase is" value="renard" />yes</p>
        <p><input type="radio" name="3. The word which means suitcase is" value="valise" />no</p>

      <h4 class="test">11. Why do ice cubes shrink in your freezer:</h4>
        <p><input type="radio" name="11. Why do ice cubes shrink in your freezer" value="they melt" />They melt </p>
        <p><input type="radio" name="11. Why do ice cubes shrink in your freezer" value=" Ice decreases in size as it gets colder" />Ice decreases in size as it gets colder </p>
        <p><input type="radio" name="11. Why do ice cubes shrink in your freezer" value=" Humidity is lower in the freezer air then in the ice cube cuasing sublimation" />Humidity is lower in the freezer air then in the ice cube cuasing sublimation </p>
        <p><input type="radio" name="11. Why do the ice cubes shrink in your freezer" value="H20 only expandswhen it reaches the freezing point" />H20 only expands when it reaches the freezing point </p>

      <h4 class="test">12. A pressure gauge on the discharge side of a refrigerant compressor reads too high. the reason will be:</h4>
        <p><input type="radio" name="3. The word which means suitcase is" value="renard" />lack of cooling water</p>
        <p><input type="radio" name="3. The word which means suitcase is" value="valise" />water temerature being high</p>
        <p><input type="radio" name="3. The word which means suitcase is" value="soleil" />dirty condenser surface</p>
        <p><input type="radio" name="3. The word which means suitcase is" value="poisson" />all of these</p>

      <h4 class="test">13. The freon group of refrigerants are:</h4>
        <p><input type="radio" name="11. Why do ice cubes shrink in your freezer" value="they melt" />halo-carbon refrigerants</p>
        <p><input type="radio" name="11. Why do ice cubes shrink in your freezer" value=" Ice decreases in size as it gets colder" />azeotrope</p>
        <p><input type="radio" name="11. Why do ice cubes shrink in your freezer" value=" Humidity is lower in the freezer air then in the ice cube cuasing sublimation" />inorganic refrigerants</p>
        <p><input type="radio" name="11. Why do the ice cubes shrink in your freezer" value="H20 only expandswhen it reaches the freezing point" />hydro-carbon refrigerants</p>

      <h4 class="test">14. The by-pass factor for a cooling coil:</h4>
        <p><input type="radio" name="11. Why do ice cubes shrink in your freezer" value="they melt" />increase with increase in velocity of air passing through it</p>
        <p><input type="radio" name="11. Why do ice cubes shrink in your freezer" value=" Ice decreases in size as it gets colder" />decreases with increase in velocity of air passing through it</p>
        <p><input type="radio" name="11. Why do ice cubes shrink in your freezer" value=" Humidity is lower in the freezer air then in the ice cube cuasing sublimation" />remains unchanged with increase in velocity of air passing through it</p>
        <p><input type="radio" name="11. Why do the ice cubes shrink in your freezer" value="H20 only expandswhen it reaches the freezing point" />may increase or decrease with increase in velocity of air passing through it depending upon the condition of air entering</p>

      <h4 class="test">15. The difference between dry bulb temperature and wet bulb temerature, is called:</h4>
        <p><input type="radio" name="3. The word which means suitcase is" value="renard" />dry bulb depression</p>
        <p><input type="radio" name="3. The word which means suitcase is" value="valise" />wet bulb depression</p>
        <p><input type="radio" name="3. The word which means suitcase is" value="soleil" />dew point depression
        <p><input type="radio" name="3. The word which means suitcase is" value="poisson" />degrees of saturation</p>

      <h4 class="test">16. Where sould fire dampers be installed:</h4>
        <p><input type="radio" name="11. Why do ice cubes shrink in your freezer" value="they melt" />in the main risers</p>
        <p><input type="radio" name="11. Why do ice cubes shrink in your freezer" value=" Ice decreases in size as it gets colder" />in the main exhaust ducts</p>
        <p><input type="radio" name="11. Why do ice cubes shrink in your freezer" value=" Humidity is lower in the freezer air then in the ice cube cuasing sublimation" />in the return ducts of the air distribution system</p>
        <p><input type="radio" name="11. Why do the ice cubes shrink in your freezer" value="H20 only expandswhen it reaches the freezing point" />in the branch duct connections that pass through the fire walls</p>

      <h4 class="test">17. what happens when the crrent in a n electric circuit is reduced:</h4>
        <p><input type="radio" name="3. The word which means suitcase is" value="renard" />the power increases</p>
        <p><input type="radio" name="3. The word which means suitcase is" value="valise" />the voltage increases</p>
        <p><input type="radio" name="3. The word which means suitcase is" value="soleil" />the resistance decreases</p>
        <p><input type="radio" name="3. The word which means suitcase is" value="poisson" />the heating effect decreases</p>

      <h4 class="test">18. why should a drip leg be installed:</h4>
        <p><input type="radio" name="11. Why do ice cubes shrink in your freezer" value="they melt" />to catch excess gas</p>
        <p><input type="radio" name="11. Why do ice cubes shrink in your freezer" value=" Ice decreases in size as it gets colder" />to collect moisture</p>
        <p><input type="radio" name="11. Why do ice cubes shrink in your freezer" value=" Humidity is lower in the freezer air then in the ice cube cuasing sublimation" />to control input of gas</p>
        <p><input type="radio" name="11. Why do the ice cubes shrink in your freezer" value="H20 only expandswhen it reaches the freezing point" />to control amount of air</p>

      <h4 class="test">19. A house has a heating load of 48,000 BTUH. How many CFM are required for a room with a heat load of 5200 BTUH, using a furnace with a 1200 CFM blower:</h4>
        <p><input type="radio" name="11. Why do ice cubes shrink in your freezer" value="they melt" />1112</p>
        <p><input type="radio" name="11. Why do ice cubes shrink in your freezer" value=" Ice decreases in size as it gets colder" />112</p>
        <p><input type="radio" name="11. Why do ice cubes shrink in your freezer" value=" Humidity is lower in the freezer air then in the ice cube cuasing sublimation" />133</p>
        <p><input type="radio" name="11. Why do the ice cubes shrink in your freezer" value="H20 only expandswhen it reaches the freezing point" />468</p>

      <h4 class="test">20. A 12&quot; round duct has a rectangular equivalent of:</h4>
        <p><input type="radio" name="3. The word which means suitcase is" value="renard" />14 X 8</p>
        <p><input type="radio" name="3. The word which means suitcase is" value="valise" />12 X 8</p>
        <p><input type="radio" name="3. The word which means suitcase is" value="soleil" />16 X 8 </p>
        <p><input type="radio" name="3. The word which means suitcase is" value="poisson" />20 X 8</p>

      <h4 class="test"> 9. The word which means &quot;suitcase&quot; is:</h4><br />
        <p><input type="radio" name="3. The word which means suitcase is" value="renard" />renard</p>
        <p><input type="radio" name="3. The word which means suitcase is" value="valise" />valise</p>
        <p><input type="radio" name="3. The word which means suitcase is" value="soleil" />soleil</p>
        <p><input type="radio" name="3. The word which means suitcase is" value="poisson" />poisson</p>

        <input type="submit" value="Send" class="btn btn-success">
        <input type="reset" value="Reset" class="btn btn-warning">


  </div>
</div>
